/* misc. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    --header-height: 85px;
    --section-min-width: 570px;
    --section-max-width: 800px;
    --color-pink: #F8BFC7;
}

body {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
}

.wrapper {
    min-width: 690px;
}

.header,
.footer {
    height: var(--header-height);
    width: 100%;
    min-width: 575px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.header .text,
.footer p.text {
    color: #E50043;
    text-decoration: none;
    font-size: 3.5rem;
}


/* header section */
.header h1 {
    margin-left: 5rem;
}

.menu {
    margin-right: 5rem;
}

.menu a {
    margin-left: 2rem;
}

.menu li {
    display: inline;
}

/* main image section */
.mainImage-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30%;
}

.mainImage {
    margin-top: var(--header-height);
    width: 100%;
}

.mainImage-container h1 {
    color: #E50043;
    font-weight: normal;
    font-size: calc(2.5rem + 2vw);
    align-self: center;
    margin-top: -35%;
}


/* description section */
.description-container {
    display: flex;
    justify-content: center;
}

.description-container .description {
    min-width: var(--section-min-width);
    width: calc(100vw - 300px);
    max-width: var(--section-max-width);
    border: 3px solid var(--color-pink);
    border-radius: 20px;
    margin: 8rem 0 6rem;
    padding: 2rem;
    letter-spacing: 0.05em;
}

.description-container .description .text {
    font-weight: normal;
    font-size: 1.4rem;
}

.description-container .description h1.text {
    padding-bottom: 2rem;
}

/* showcase section */
.showcase-container {
    max-width: 1150px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}

.showcase-container .product {
    margin: 4rem 0 8rem 0;
}

.product-1 {
    margin-left: 5rem;
}

.product-3 {
    margin-right: 5rem;
}

.showcase-container img {
    height: 550px;
}

.showcase-container figcaption {
    margin: 1.5rem 0 0 .3rem;
    width: 180px;
    text-align: center;
    font-size: 1.3rem;
}


/* nutrition section */
.nutrition-container {
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.nutrition-container .nutrition {
    min-width: var(--section-min-width);
    width: calc(100vw - 300px);
    max-width: var(--section-max-width);
    border: 3px solid var(--color-pink);
    border-radius: 2rem;
}

.nutrition-container img {
    height: 160px;
    padding: 2rem 3rem;
    float: left;
}

.nutrition-container h1.text {
    padding-top: 2rem;
}

.nutrition-container .text {
    letter-spacing: 0.05em;
    padding: 1rem 1rem 0 0;
    font-weight: normal;
    font-size: 1.4rem;
}


/* footer */
.footer {
    position: relative;
    height: 60px;
    background-color: var(--color-pink);
}

.footer p.text {
    color: white;
    margin-left: 5rem;
    font-size: 2.5rem;
}
